allow zygote kernel:system module_request;
allow zygote media_prop:file { open read getattr };
allow zygote device:file { open write };
allow zygote self:process execmem;
allow zygote servicemanager:binder call;
allow zygote system_data_file:file { setattr write };
allow zygote system_server:binder { call transfer };
allow zygote user_profile_data_file:file getattr;
allow zygote user_service:service_manager find;
allow zygote wcnd:unix_stream_socket connectto;
allow zygote zygote_tmpfs:file execute;
allow zygote serial_device:chr_file { ioctl open read write };
allow zygote proc_bluetooth_writable:file { open write };
allow zygote property_socket:sock_file write;
allow zygote bluetooth_prop:property_service set;
allow zygote bluetooth_data_file:file { getattr open read };
allow zygote bluetooth_efs_file:dir search;
allow zygote bluetooth_manager_service:service_manager find;
allow zygote media_rw_data_file:dir getattr;
allow zygote mnt_expand_file:dir getattr;
allow zygote storage_file:dir getattr;
allow zygote ashmem_device:chr_file execute;
allow zygote init:unix_stream_socket connectto;
allow zygote radio:binder call;
allow zygote self:capability2 wake_alarm;
allow zygote bluetooth_data_file:dir { add_name open read remove_name write };
allow zygote bluetooth_data_file:file { create rename setattr unlink write };

allow zygote activity_service:service_manager find;
allow zygote appops_service:service_manager find;
allow zygote audio_service:service_manager find;
allow zygote batterystats_service:service_manager find;
allow zygote connectivity_service:service_manager find;
allow zygote content_service:service_manager find;
allow zygote display_service:service_manager find;
allow zygote media_session_service:service_manager find;
allow zygote mount_service:service_manager find;
allow zygote network_management_service:service_manager find;
allow zygote notification_service:service_manager find;
allow zygote power_service:service_manager find;
allow zygote radio_service:service_manager find;
allow zygote registry_service:service_manager find;
