allow zygote kernel:system module_request;
allow zygote media_prop:file { open read getattr };
allow zygote device:file { open write };
allow zygote self:process execmem;
allow zygote servicemanager:binder call;
allow zygote system_data_file:file { setattr write };
allow zygote system_server:binder { call transfer };
allow zygote user_profile_data_file:file getattr;
allow zygote user_service:service_manager find;
allow zygote wcnd:unix_stream_socket connectto;
allow zygote zygote_tmpfs:file execute;
allow zygote serial_device:chr_file { ioctl open read write };
allow zygote proc_bluetooth_writable:file { open write };
allow zygote property_socket:sock_file write;
allow zygote bluetooth_prop:property_service set;
